<section class="section-footer">
    <div class="section-footer-label">
        <p>We Have <span>Solution </span>For Your <span>Garden</span></p>
        <button type="button" class="universal-btn">Get A Quate</button>
    </div>
    <div class="section-footer-container">
        <!------------------------------------------------------------>
        <div class="section-footer-item">
            <div>
                <h2>Subscribe To Newsletter</h2>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer adipiscing erat eget risus sollicitudin
                pellentes queet non erat. Maecenas nibh dolor.</p>
            <form class="footer-form">
                <input type="text" placeholder="Email:" class="form-item-input">
                <button class="form-item-btn">Subscribe</button>
            </form>
        </div>
        <!------------------------------------------------------------>
        <div class="section-footer-item">
            <div>
                <h2>Contacts</h2>
            </div>
            <div>
                <p>27 Division St, New York,
                    NY 10002, USA
                </p>
                <p>+01 1123456789</p>
                <p>+01 1123456789</p>
                <p>Solarpenal@gmail.Com</p>
            </div>
        </div>
        <!------------------------------------------------------------>
        <div class="section-footer-item">
            <h2>Useful Links</h2>
            <ul class="footer-item-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Company</a></li>
                <li><a href="#">Servises</a></li>
                <li><a href="#">Progects</a></li>
                <li><a href="#">Contacts</a></li>
            </ul>
        </div>
        <!------------------------------------------------------------>
    </div>
</section>