@import "/src/app/_mixins.scss";
@import "/src/app/_variables.scss";

.section-asked-questions {
  width: 100%;
  height: 700px;
  font-family: $Font-basic-normal;
  margin-top: 40px;
  margin-bottom: 150px;
}

.section-asked-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.section-asked-title {
  font-family: $Font-basic-normal;
  font-weight: 800;
  font-size: 45px;
  margin: 0 auto;
  margin-bottom: 15px;
  border-radius: 5px;

  & > span {
    color: $Main-Color;
  }
}

.asked-container-description {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 650px;
  align-items: center;

  .asked-questions-slide {
    width: 828px;
    height: 737px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.asked-container-photo {
  height: 679px;
  background-image: url("img/pngegg.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 507px;
}
