<section class="section-asked-questions">
    <div class="section-asked-container">
        <h1 class="section-asked-title">Frequently <span>Asked Questions</span></h1>
        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown of type and scrambled it to
            make a type specimen book.</h4>
        <div class="asked-container-description">
            <div class="asked-questions-slide">
                <app-quest-item title="Which Plan Is Right For Me?" [isVisible]="true">Lorem ipsum dolor sit amet,
                    consectetur adipiscing
                    elit. Integer adipiscing erat eget risus sollicitudin pellentes queet non erat. Maecenas nibh dolor,
                    malesuada et bibendum a, sagittis accumsan ipsum. Pellentesque ultrices ultrices sapien, nec
                    tincidunt nunc posuere ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Name ultrices
                    scelerisque tristique dolor vitae tincidunt. Aenean quis massa uada mi elementum elementum. Nec
                    sapien convallis vulputate rhoncus vel dui.</app-quest-item>
                <app-quest-item title="Which Plan Is Right For Me?" [isVisible]="true">Lorem ipsum dolor sit amet,
                    consectetur adipiscing
                    elit. Integer adipiscing erat eget risus sollicitudin pellentes queet non erat. Maecenas nibh dolor,
                    malesuada et bibendum a, sagittis accumsan ipsum. Pellentesque ultrices ultrices sapien, nec
                    tincidunt nunc posuere ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Name ultrices
                    scelerisque tristique dolor vitae tincidunt. Aenean quis massa uada mi elementum elementum. Nec
                    sapien convallis vulputate rhoncus vel dui.</app-quest-item>
                <app-quest-item title="Which Plan Is Right For Me?" [isVisible]="true">Lorem ipsum dolor sit amet,
                    consectetur adipiscing
                    elit. Integer adipiscing erat eget risus sollicitudin pellentes queet non erat. Maecenas nibh dolor,
                    malesuada et bibendum a, sagittis accumsan ipsum. Pellentesque ultrices ultrices sapien, nec
                    tincidunt nunc posuere ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Name ultrices
                    scelerisque tristique dolor vitae tincidunt. Aenean quis massa uada mi elementum elementum. Nec
                    sapien convallis vulputate rhoncus vel dui.</app-quest-item>
            </div>
            <div class="asked-container-photo"></div>
        </div>
    </div>
</section>