<section class="section-staff">
    <div class="section-staff-container">
        <div class="section-staff-title">
            <h1 class="staff-title">Our <span>Trained Staff</span></h1>
            <div class="staff-sub-title">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad adipisci libero aspernatur reiciendis
                    iure laudantium, non eligendi qui ea, quisquam architecto? Consequatur voluptatum possimus rem animi
                    dolore autem culpa aut!</p>
                <button type="button" class="universal-btn">Discover More</button>
            </div>
        </div>
        <div class="personally-staff">

            <div class="personally-staff-item">
                <div class="staff-item">
                    <p>Emma Braun</p>
                    <p>Leaf Design</p>
                    <div [style.width.%]="100">
                        <ul class="staff-item-web-list">
                            <li>
                                <a href="#" target="_blank"></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="personally-staff-item">
                <div class="staff-item">
                    <p>Emma Braun</p>
                    <p>Leaf Design</p>
                    <div [style.width.%]="100">
                        <ul class="staff-item-web-list">
                            <li>
                                <a href="#" target="_blank"></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="personally-staff-item">
                <div class="staff-item">
                    <p>Emma Braun</p>
                    <p>Leaf Design</p>
                    <div [style.width.%]="100">
                        <ul class="staff-item-web-list">
                            <li>
                                <a href="#" target="_blank"></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="personally-staff-item">
                <div class="staff-item">
                    <p>Emma Braun</p>
                    <p>Leaf Design</p>
                    <div [style.width.%]="100">
                        <ul class="staff-item-web-list">
                            <li>
                                <a href="#" target="_blank"></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>