<section class="servises-provide-section">
    <div class="servises-provide-container">
        <h1 class="servises-title">Servises We <span>Provide</span></h1>
        <h2 class="servises-sub-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error libero esse
            nostrum
            temporibus magni consequatur
            architecto provident, aliquam exercitationem incidunt doloremque ipsum odio adipisci quam. Corporis
            laudantium
            maiores quibusdam ad!</h2>
        <div class="servises-sub-container">
            <div class="container-item">
                <div class="item-logo"></div>
                <div class="item-title">
                    <p>Tree Planting</p>
                </div>
                <div class="item-description">
                    <p>Lorem Ipsum is simply dummy text of the printing and type setting industry.</p>
                </div>
            </div>
            <div class="container-item">
                <div class="item-logo"></div>
                <div class="item-title">
                    <p>Grass Cutting</p>
                </div>
                <div class="item-description">
                    <p>Lorem Ipsum is simply dummy text of the printing and type setting industry.</p>
                </div>
            </div>
            <div class="container-item">
                <div class="item-logo"></div>
                <div class="item-title">
                    <p>Garden Design</p>
                </div>
                <div class="item-description">
                    <p>Lorem Ipsum is simply dummy text of the printing and type setting industry.</p>
                </div>
            </div>
            <div class="container-item">
                <div class="item-logo"></div>
                <div class="item-title">
                    <p>Plant Growing</p>
                </div>
                <div class="item-description">
                    <p>Lorem Ipsum is simply dummy text of the printing and type setting industry.</p>
                </div>
            </div>
            <div class="container-item">
                <div class="item-logo"></div>
                <div class="item-title">
                    <p>Flower Scaping</p>
                </div>
                <div class="item-description">
                    <p>Lorem Ipsum is simply dummy text of the printing and type setting industry.</p>
                </div>
            </div>
            <div class="container-item">
                <div class="item-logo"></div>
                <div class="item-title">
                    <p>Branch cutting</p>
                </div>
                <div class="item-description">
                    <p>Lorem Ipsum is simply dummy text of the printing and type setting industry.</p>
                </div>
            </div>
            <div class="container-item">
                <div class="item-logo"></div>
                <div class="item-title">
                    <p>Pests, Weeds Control</p>
                </div>
                <div class="item-description">
                    <p>Lorem Ipsum is simply dummy text of the printing and type setting industry.</p>
                </div>
            </div>
            <div class="container-item">
                <div class="item-logo"></div>
                <div class="item-title">
                    <p>Watering & Irrigation</p>
                </div>
                <div class="item-description">
                    <p>Lorem Ipsum is simply dummy text of the printing and type setting industry.</p>
                </div>
            </div>
        </div>
    </div>
</section>