<section class="bot-navbar-section">
    <div class="bot-navbar-container">
        <div class="bot-navbar">

            <div class="bot-navbar-logo"></div>


            <ul class="bot-navbar-items">
                <li>
                    <a routerLink="/home_page" routerLinkActive="active">Home</a>
                    <a routerLink="/company_page" routerLinkActive="active">Company</a>
                    <a routerLink="/servises_page" routerLinkActive="active">Servises</a>
                    <a routerLink="/progects_page" routerLinkActive="active">Progect</a>
                    <a routerLink="/contacts_page" routerLinkActive="active">Contacts</a>
                </li>
            </ul>


            <div class="bot-navbar-btn">
                <button type="button" class="navbar-btn">
                    <div class="btn-img"></div>
                    <div class="btn-info">Call us</div>
                </button>
            </div>


        </div>
    </div>
</section>