@import "/src/app/_mixins.scss";
@import "/src/app/_variables.scss";

@media (min-width: 1024px) {
  .quest-item-section {
    width: 80%;
  }

  .title-item {
    background-color: $Main-Color;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 0px 0px 20px 0px;
  }

  .btn-item {
    width: 20px;
    height: 100%;
    background-color: rgb(28, 28, 28, 0);
    border: none;
    color: white;
  }

  .item {
    margin-bottom: 20px;
  }
}

@media (min-width: 1440px) {
  .title-item {
    font-size: 18px;
  }
}
