<section class="top-navbar-section">
    <div class="top-navbar-container">
        <div class="top-navbar">
            <div class="top-navbar-item">
                <div class="item-img"></div>
                <div>E-MAIL:mr.undesired@gmail.com</div>
            </div>
            <div class="top-navbar-item">
                <div class="item-img"></div>
                <div>+380960020832</div>
            </div>
            <div class="top-navbar-item">
                <div class="item-img"></div>
                <div>Ukraine, Lviv, Rynok sq.1</div>
            </div>
        </div>
    </div>
</section>