<section class="presentation-section">
    <div class="presentation-container">
        <div class="presentation-info">
            <div class="presentation-info-sub-title">
                <p><span>Landscape</span> Planting Servises</p>
            </div>
            <div class="presentation-info-title">
                <p>Perfect Landscape <span>Solution</span></p>
            </div>
            <div class="presentation-info-description">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt recusandae at magni eius debitis
                    dignissimos. Qui, sequi, pariatur numquam illo minus ipsam aperiam saepe obcaecati iure neque modi,
                    maxime sint?</p>
            </div>
            <div class="presentation-info-btn-block">
                <button type="button" class="universal-btn">Get A Quate</button>
                <div class="info-btn-block">
                    <a href="#">See how it works</a>
                </div>
            </div>
            <div class="presentation-info-achievements">
                <div class="achievements-item">
                    <div class="item-counter">500+</div>
                    <p>Happy Custumers</p>
                </div>
                <div class="achievements-item">
                    <div class="item-counter">100+</div>
                    <p>Garedens Created</p>
                </div>
                <div class="achievements-item">
                    <div class="item-counter">300+</div>
                    <p>Team Members</p>
                </div>
            </div>
        </div>
        <div class="presentation-logo"></div>
    </div>
</section>

<app-servises-we-pruved></app-servises-we-pruved>
<app-servises-expl></app-servises-expl>
<app-asked-questions></app-asked-questions>
<app-footer>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, nesciunt! Provident qui facilis explicabo
    quas
    sint reprehenderit magni soluta asperiores, omnis repellat laboriosam dolor voluptatibus nobis at voluptate iure
    sed. Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias dolorum cumque quisquam quo corporis a
    aspernatur, natus officia, repudiandae dolor modi mollitia facilis distinctio nobis accusantium quod temporibus!
    Repudiandae, ab?</app-footer>